@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

$black: black;
$white: white;
$h_size: 32px;
$main_color: white;
@import "mixins";

*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: $main_color;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
