@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

$black: black;
$white: white;
$h_size: 32px;
$main_color_text: white;
$main_color: #0B44FF;
@import "mixins";

*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: $main_color_text;
  font-family: 'Poppins', sans-serif;
}
.main_body{
  background: url("../images/bg.png") no-repeat center,#000;
  background-size: cover;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.header_wrap{
  padding: 34px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
    img{
      width: 81px;
    }
    span{
      font-size: 22px;
    }
  }
}
.menu_wrap{
  display: flex;
  align-items: center;
  .menu{
    li{
      display: inline-block;
      margin-right: 38px;
      a{
        font-size: 17px;
      }
    }
  }
  .help_button{
    a{
      padding: 11px 27px;
      background: $main_color;
      color: $main_color_text;
      border-radius: 6px;
    }
  }
}
.head_block{
  padding: 140px 0 107px;
}
.head_block_wrap{
  display: flex;
  flex-wrap: wrap-reverse;
}
.head_block_description{
  flex-basis: 52%;
  h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
  }
  p{
    margin-top: 28px;
    font-size: 20px;
  }
}
.head_block_image{
  flex-basis: 48%;
  text-align: right;
  img{
    width: 375px;
    border-radius: 26px;
  }
}
.join_section{
  padding-top: 50px;
}
.item_wrap{
  display: flex;
  flex-wrap: wrap;
  .item{
    border-radius: 35px;
    background: #fff;
    padding: 53px 48px;
    .item_img{
      text-align: center;
      img{

      }
    }
  }
}
